Faker==6.6.3
PyMySQL==0.9.3
pytest==6.2.5
requests==2.26.0
selenium==4.0.0
sshtunnel==0.4.0
allure-pytest==2.9.45
allure-python-commons==2.9.45


pillow==9.1.1

pytest-rerunfailures==10.2
pytest-xdist==2.5.0
urllib3==1.26.7
gevent==21.1.2

requests-toolbelt==0.9.1

falcons>=1.2.4
pyyaml==6.0